## CSO database updates

This notebook sets up tools to interface directly with the NASA CSO database using Pandas and SQL queries.

Anthony Arendt

In [1]:
import os, sys
import pandas as pd
import numpy as np
import glob 
from geopandas import GeoSeries, GeoDataFrame
import yaml

from csodbpy import utils

In [2]:
# load yml file to dictionary
credentials = yaml.load(open('../.env.yaml'))

/home/arendta/anaconda3/envs/csodb/lib/python3.7/site-packages/ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

### Establish connection to Postgres database

In [3]:
engine = utils.startEngine(credentials)

### Use Pandas to issue SQL statements to the database.

We can now use this to import new data into the database.

Here's a simple test query:

In [15]:
df = pd.read_sql("SELECT * FROM observations WHERE author = 'Anthony Arendt'", engine)

In [16]:
df

,id,author,depth,source,elevation,location,timestamp
0,t38/+wzw,Anthony Arendt,51.999998,MountainHub,1718.054443,0101000020E61000007E326BCEE6C65CC0F71F990E9D54...,2018-01-09 21:34:06.751
1,sYef/5nt,Anthony Arendt,45.999998,MountainHub,1729.596680,0101000020E610000092729C804BC65CC0A3C629DFD855...,2018-01-09 20:45:07.869
2,S5id1Rny,Anthony Arendt,20.999999,MountainHub,72.866943,0101000020E610000005F8133A54915EC0FB021F285CC6...,2019-02-04 21:04:51.267